body{
  background: radial-gradient(circle, #FFDC00 0%,rgb(255, 255, 255) 100%);
    font-family: cursive;
}

h1{
  font-family: monospace;
}
h1::first-letter{
  font-size: 2em;
  color: #ec731e;
}

.box{
    width: 400px;
    height: 50px;
    font-size: 50%;
}


.container{
    text-align: center;
    font-size: 50px;
    
}



header{
  display: flex;
  flex-flow: row wrap;
    justify-content: space-around;
    width: auto;
    height: 200px;
    margin-bottom: 10px;
    background-color: #262626;
    border-radius: 5px;
    text-align: end;
    margin: 50px;
    font-size: 3em;
    color: rgb(248, 245, 245);
    
}

.MyHeader{
  max-width: 100%;
}

.MyHeader:hover{
  border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}


.burguer{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
    
}

.burguer:hover{
  -webkit-transform:scale(1.3);transform:scale(1.3);
}
/*---*/

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: rgb(255, 255, 255);
  padding: 5px;
  width: 400px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-radius: 50px;
}

.flex-item:hover{
  background-color: rgb(255, 255, 255);
}
/*----*/

footer{
    height: 200px;
    background-color:#FFDC00 ;
    border-radius: 10px;
    text-align: end;
    margin: 0 auto;
}

.logo{
    max-width: 100%;
    max-height: 100%;
}

li{
    text-decoration: none;
    list-style: none;
    text-align: center;
}
/*------*/
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 10; 
  background:transparent;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: rgb(0, 0, 0);
}

.navigation a:hover {
  background: #FFDC00 ;
}

@media all and (max-width: 100px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}





/*...*/

.boton{
  width: 140px;
  height: 70px;
  background-color:rgb(255, 255, 255) ;
font-size: 50%;
color:black;
}

.boton:hover{
  background-color:#FFDC00 ;
  color: aliceblue;
  cursor: pointer;
  font-size: 50%;

}

.icon{
  max-width: 50px;
  max-height: 50px;
}

.caja{
  max-width: 70%;
  max-height: 70%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400);
form{
  padding: 100px;
  max-width: 400px;
  background-color: #262626;
  margin: 0 auto;
  color:rgb(255, 255, 255);
}


.icons-footer{
  margin-top: 50px;
  max-height: 50%;
  max-width: 50%;
}

.images{
  text-align: start;
  max-height: 100%;
  max-height: 100%;
  border-radius: 5px;
}


.list{
  margin: 50px;
}


.images2{
  text-align: start;
  max-height: 100%;
  max-height: 100%;
  border-radius: 5px;
}
