<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Mexicani's</title>
</head>
<body>
    <header>
        <img src="https://cdn.pixabay.com/photo/2012/04/14/15/37/cheeseburger-34314_960_720.png" class=" logo">
        <h1>Mexicani's</h1>
        <img src="img/logo.png" class="logo">
    </header>

    
    <div class="container">
    {{{ body }}}
    </div>

<footer>
    <img src="https://image.flaticon.com/icons/png/512/87/87887.png" class="icons-footer">
    <img src="https://image.flaticon.com/icons/png/512/104/104629.png" class="icons-footer">
    <img src="https://image.flaticon.com/icons/png/512/85/85435.png" class=" icons-footer">
</footer>
    <p>Site design  logo © 2021 Mexicani's Inc; licensed under cc by-sa. rev 2021.3.15.3531</p>
</body>




</html>