


    <link rel="stylesheet" href="static/styles.css">


<div class="wrapper">
  <ul class="navigation">
  <li>  
    <a href='postfood'>Agregar
<img src="https://image.flaticon.com/icons/png/512/121/121515.png" class="icon">
</a>
</li>
</ul>

<img src="https://cdn.pixabay.com/photo/2019/08/11/05/13/car-hop-4398148_960_720.png">

<ul class="flex-container">
  <li class="flex-item">
    <img src="img/burguer.jpg" class="burguer">
</li>
  <li class="flex-item">
    <img src="img/papas.jpg" class="burguer">
</li>
  <li class="flex-item">
    <img src="https://cdn.pixabay.com/photo/2017/04/18/15/10/strawberry-ice-cream-2239377_960_720.jpg" alt="" class="burguer">
  </li>
  <li class="flex-item">
    <img src="https://cdn.pixabay.com/photo/2014/09/26/19/51/drink-462776_960_720.jpg" alt="" class="burguer">
  </li>
  <li class="flex-item">
    <img src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg" alt="" class="burguer">
  </li>
  <li class="flex-item">
    <img src="https://cdn.pixabay.com/photo/2016/03/05/22/23/asian-1239271_960_720.jpg" alt="" class="burguer">
  </li>
</ul>
  
    <form action="/api/food" method="GET">
      <button class="boton" >Ver todo</button>
    </form>
     <a href='verpor'>
    <button class="boton">
      Ver por:
    </button>
    </a>
</div>
